// Dark theme
$backgroundDark: #02003B;
$sidebarDark: #402E4F;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f3f4f5;
$textBright: #31005C;

// Brand
$brandPrimary: #FF2D55;
